# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable dec-hex-oct-bin': 'dec-hex-oct-bin:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'dec-hex-oct-bin'
      'submenu': [
        { 'label': 'Toggle', 'command': 'dec-hex-oct-bin:toggle' }
      ]
    ]
  }
]
